
$color: #BE8AC7;

.cata-container {
    border-top: 1px solid #737376;
    display: flex;
    flex-direction: column;
    .cata-grid {
        display: grid;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;

    
        .cata-card {
            display: flex;
            flex-direction: column;
            color: white;
            height: 250px;
            max-width: 375px;
            margin-bottom: 75px;
            border-radius: 10px;
            background-color: #25252E;
            
            & * {
                margin-left: auto;
                margin-right: auto;
            }
            img {
                border-radius: 50%;
                width: 85px;
                height: 85px;
            }
            .social-buttons {
                margin-top: auto;
                margin-bottom: 10px;
                a {
                    font-size: 28px;
                    color: $color;
                    text-decoration: none;
                }
            }
        }
    }

    @media (max-width: 1920px) {
        .cata-grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @media (max-width: 1450px) {
        .cata-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media (max-width: 1000px) {
        & {
            width: 90% !important;

            .cata-grid {
                grid-template-columns: repeat(1, 1fr);
                width: 100%;

                .cata-card {
                    max-width: none;
                    width: 100%;
                }
            }
        }
    }
}