
.main-cont {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #737376;
}
.active-cards {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3, 1fr);
    width: 95%;
    height: 100%;
    column-gap: 25px;
    
    .card {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        max-width: 525px;
        height: 650px;
        border-radius: 10px;    
        background-color: #25252E;

        img {
            height: 275px;
            width: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .details {
            display: flex;
            flex-direction: column;
            height: 100%;
            position: relative;

            .content {
                display: flex;
                flex-direction: column;
                margin-top: -50px;

                img {
                    margin-left: 10px;
                    border: solid 1px #25252E;
                    height: 85px;
                    width: 85px;
                    border-radius: 50%;
                }

                span {
                    margin-left: auto;
                    margin-right: auto;
                }
            h3 {
                text-align: center;
            }
            p {
                font-size: 14px;
                width: 85%;
                height: 100px;
                overflow: hidden;
                margin-left: auto;
                margin-right: auto;
            }
            }
            .buttons {
                display: flex;
                width: 100%;
                margin-bottom: 5px;
                position: absolute;
                bottom: 5px;

                span {
                    margin-left: auto;
                    cursor: pointer;
                    margin-right: 15px;
                }
            }
        }
    }
}