
.parent-notif {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    position: fixed;
    left: -325px;
    bottom: 35px;
    z-index: 1200;
    transition: .5s ease;

    .notification {
        background-image: linear-gradient(45deg, #3023AE 0%, #FF0099 100%);
        min-height: 155px;
        width: 325px;
        border-radius: 10px;
        opacity: .90;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
}

.prompt {
    left: 55px;
    text-align: center;

    .clear {
        position: absolute;
        bottom: 20px;
        left: 50%;
        margin-left: -20px;
        cursor: pointer;
    }
    .islive {
        margin: auto;
        display: flex;
        flex-direction: column;

        span {
            font-weight: bold;
        }
        .watch-now {
            background-color: #D6D6D6;
            margin-top: auto;
            width: 85px;
            height: 35px;
            text-align: center;
            border-radius: 5px;
            padding: 5px 5px;
            border: none;
        }
    }
    span {
        margin: auto;
    }
}
