.footer-parent {
    background-color: #25252E;
    height: 95px;
    
    .footer-cont {
        display: flex;

        .footer-details {
            margin: auto;
            display: flex;
            flex-direction: column;

            a {
                text-decoration: none;
                color: inherit;
                margin: 5px auto 0 auto;

                i {
                    font-size: 27px;
                }
            }
        }
    }
}